@charset "utf-8";
#list {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
    height: auto;
}

#photos {
    padding: 0px;
    height: 100%;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
}

#more {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #222222;
    font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 30px;
    font-family: "Yu Gothic", "メイリオ", sans-serif;
}

#more img {
    width: 24px;
    height: 24px;
}

.thumbnail {
    list-style-type: none;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 2px;
    border: 1px solid #898880;
}

#photos li img {
    width: 200px;
    height: 200px;
}

ul.info {
    position: relative;
    top: 47%;
}

ul.info li {
    display: inline-block;
    padding-right: 10px;
    font-size: 1.1em;
}

.likeit {
    background: url("../images/likeit.png") no-repeat;
    background-size: contain;
    padding-left: 30px;
}

.comment {
    background: url("../images/comment.png") no-repeat;
    background-size: contain;
    padding-left: 30px;
}

.figure {
    position: relative;
    overflow: hidden;
    width: 200px;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    text-align: center;
}

.figure:hover .caption {
    color: white;
    opacity: 1;
}