* {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    font-size: 14px;
    line-height: 1.4em;
    list-style: none;
    color: #333333;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FAFDFF url("../images/background.png");
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

#logo {
    width: 325px;
    height: 53px;
}

#header {
    padding-top: 36px;
    text-align: center;
    padding-bottom: 33px;
}

#header img:hover {
    opacity: 0.5;
    filter: alpha(opacity=60);
}

#header_logo img:hover {
    opacity: 0.5;
    filter: alpha(opacity=60);
}

#footer {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 14px;
    z-index: 2;
    border-top: 1px solid #FAFDFF;
    height: 58px;
}

.display_none {
    display: none;
}

#footer a {
    color: #FAFDFF;
}

#copyright {
    /*    float: left;*/
    padding-left: 5px;
    color: #FAFDFF;
}

#copyright,
#link {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}

#link {
    position: absolute;
    right: 0;
    padding-right: 10px;
    overflow: hidden;
}

#link li {
    display: inline-block;
    min-width: 54px;
}

.navi {
    background: url("../images/navi_icon.gif")no-repeat left 48%;
    padding-right: 20px;
    background-size: 6px 12px;
    padding-left: 15px;
}