#header {
	background-repeat: repeat-x;
	width: 100%;
	background-image: url(images/naviBack.jpg);
	background-color: #f0f0f0;
	padding-top: 10px;
	padding-bottom: 20px;
}
#footer {
	background-image: url(images/picBack.jpg);
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 0px;
	height: 50px;
}

#navi {
	height: 80px;
	display: inline;
	margin-left: 30px;
}
.navi-item {
	padding-top: 40px;
	padding-left: 5px;
	padding-bottom: 3px;
	text-align: center;
	padding-right: 5px;
}
.navi-item:hover {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}



#list {
	background-color: #666666;
	background-image: url(images/picBack.jpg);
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50px;
	height: auto;
}
#list ul {
	padding: 0px;
	height: 100%;
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;
}
#list ul li{
	list-style-type: none;
	position: relative;
	display: inline;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
}


#searchButton {
	padding-right: 31px;
	padding-left: 22px;
}
#search {
	background-color: #FFF;
	clear: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #afafb0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	height: 150px;
	width: 100%;
}
#tag {
	height: 15px;
}


body {
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}
#goToTop {
	margin-right: 14px;
	margin-top: 7px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}
#list li img {
	width: 306px;
	border: 1px solid #504946;
	height: 306px;
}
#footer a {
	display: none;
}
#logo {
	width: 320px;
	height: 80px;
}
#about {
	width: 99px;
	height: 28px;
}
