#header {
	background-repeat: repeat-x;
	width: 100%;
	background-image: url(images/naviBack.jpg);
	background-color: #f0f0f0;
}
#footer {
	background-image: url(images/picBack.jpg);
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 0px;
	height: 50px;
}

#goToTop {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right:5px;
}
#navi {
	height: 80px;
	display: inline;
	margin-left: 30px;
}
.navi-item {
	padding-top: 40px;
	padding-left: 5px;
	padding-bottom: 3px;
	text-align: center;
	padding-right: 5px;
}
.navi-item:hover {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}



#list {
	background-color: #666666;
	background-image: url(images/picBack.jpg);
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50px;
	height: auto;
}
#list ul {
	padding: 0px;
	height: 100%;
	position: relative;
	left: 50%;
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 5px;
	margin-left: 5px;
}
#list ul li{
	float: left;
	list-style-type: none;
	margin-top: 5px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 5px;
	position: relative;
	left: -50%;
}


#searchButton {
	padding-right: 31px;
	padding-left: 22px;
}
#search {
	background-color: #FFF;
	clear: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #afafb0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	height: 80px;
	width: 100%;
}
#tag {
	height: 15px;
}
#contents {
	/* [disabled]width: 100%; */
}
#contents div {
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
}




body {
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}
